<div class="section-container">
    <div class="card user-card p-0" [formGroup]="userForm">
        <div class="row mx-0 user-row user-container">
            <div class="col-lg-10 col-sm-8 col-5 d-flex align-items-center">
                <div class="fs25 fw600 color-dark-grey ml-2">Users</div>
            </div>
            <div class="col-lg-2 col-sm-4 col-7" *ngIf="createUserAccess">
                <button class="btn1 btn-prop add-user-btn fs15 fw500" type="button" (click)="gotoCreateUser()">
                    <img src="assets/img/common/add.png" class="mr-2 add-img">
                    Add User
                </button>
            </div>
        </div>
        <div class="row mx-0 user-row">
            <div class="col-lg-2 col-sm-6">
                <div class="mb-3">
                    <label class="fw500 mb-0 fs14 labels">User Name</label>
                    <input type="text" class="form-control img input1" placeholder="Username" formControlName="name"
                        (keydown)="spaceRestrict($event)">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="mb-3">
                    <label class="fw500 mb-0 fs14 labels">First Name</label>
                    <input type="text" class="form-control img input1" placeholder="Firstname"
                        formControlName="firstName" (keydown)="spaceRestrict($event)">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="mb-3">
                    <label class="fw500 mb-0 fs14 labels">Last Name</label>
                    <input type="text" class="form-control img input1" placeholder="Lastname" formControlName="lastName"
                        (keydown)="spaceRestrict($event)">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="mb-3">
                    <label class="fw500 mb-0 fs14 labels">Email</label>
                    <input type="text" class="form-control img input3" placeholder="Email" formControlName="email"
                        (keydown)="spaceRestrict($event)">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="mb-3">
                    <label class="fw500 mb-0 fs14 labels">Mobile</label>
                    <input type="text" class="form-control img input4"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Mobile"
                        formControlName="phone" (keydown)="spaceRestrict($event)">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="mb-3">
                    <label class="fw500 mb-0 fs14 labels">Status</label>
                    <select class="img select-status" formControlName="status">
                        <option value="" selected>All</option>
                        <option *ngFor="let data of adminUserStatus" [value]="data.key">
                            {{ data.value }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="" [ngClass]="{
          'w-100': isScreenMobile(),
          'ipad-view': isScreenipad(),
          'w-20': (userForm.controls.roles.value ?? []).length == 0 && !isScreenMobile(),
          'w-max': (userForm.controls.roles.value ?? []).length > 0 && !isScreenMobile()
        }">
                <div class="mb-3">
                    <label class="fw500 mb-0 fs14 labels">Roles</label>
                    <!-- <ng-select class="form-control img input5 scroller"
            formControlName="roles"
            placeholder="All Roles"
            [items]="rolesList"
            bindLabel="value"
            [multiple]="true"
            appendTo="body">
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items | slice:0:1">
                <span class="ng-value-label"> {{item.value}}</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
              </div>
              <div class="ng-value" *ngIf="items.length > 1">
                <span class="ng-value-label">{{items.length - 1}} more...</span>
              </div>
            </ng-template>
          </ng-select> -->
                </div>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-4 button-search button-margin">
                <div class="mb-3 searchButton">
                    <button class="btn btn-prop bg-green fs15 fw500 search-btn" type="button" (click)="search(1)">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <table class="table mb-4 user-table">
            <thead>
                <tr class="rowAlign fs15 fw500">
                    <th style="width: 5%;">S. No.</th>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th class="roles">Roles</th>
                    <th>Status</th>
                    <th *ngIf="editUserAccess"></th>
                </tr>
            </thead>
            <tbody class="fs15 fw500">
                <tr class="trBody cursor-hand" *ngFor="let data of userList; let i = index;">
                    <td>{{(currentPage-1)*10+i+1}}</td>
                    <td>{{data?.username}}</td>
                    <td>{{data?.firstName}}</td>
                    <td>{{data?.lastName}}</td>
                    <td>{{data?.email}}</td>
                    <td>{{data?.phone}}</td>
                    <td>
                        <div class="user-role bg-light-green" *ngFor="let td of data.roles">{{td.name}}</div>
                    </td>
                    <td [ngClass]="{'color-green': data?.status == 'ACTIVE', 'text-red': data?.status == 'INACTIVE'}">
                        {{data?.status=="ACTIVE" ? 'Active' : 'Inactive'}}
                    </td>
                    <td *ngIf="editUserAccess" class="color-blue">
                        <img (click)="editUser(data.id)" src="assets/img/common/edit-icon.svg" width="35px"
                            class="cursor-pointer ms-2 update-icon">
                    </td>
                </tr>
                <tr *ngIf="userList.length == 0">
                    <td class="text-center" colspan="12">No Data Found</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center d-flex justify-content-center mb-2" *ngIf="userList.length > 0">
            <div class="pagination">
                <a href="javascript:void(0)" style="color: #333333;" (click)="goToPage(currentPage - 1)"><u>Prev</u></a>
                <a href="javascript:void(0)" *ngFor="let page of pageArray" (click)="goToPage(page)"
                    [ngClass]="{'active': currentPage == page, 'no-page': page == 0}">
                    {{page == 0 ? "..." : page}}
                </a>
                <a href="javascript:void(0)" style="color: #333333;" (click)="goToPage(currentPage + 1)"><u>Next</u></a>
            </div>
        </div>
    </div>

    <ng-template #responseModel>
        <div class="modal-body pb-4">
            <div class="row mx-0 text-left">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
                    <img src="assets/img/common/cross.svg">
                    {{errorMessage}}
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            <button class="btn btn-prop color-white bg-red w-50" type="button" data-dismiss="modal"
                (click)="closeModal()">Close</button>
        </div>
    </ng-template>
</div>